<div class="about-header">
	<div class="intro-about-header">
		<h1>Unique <span>Scalable</span> and Completely <span>Turnkey</span></h1>
		<div class="about-intro-content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsum odit laudantium optio, aspernatur consequatur.</p></div>
	</div>
</div>
<div class="about-body">
	<div class="we-believe"><h1 >At<img class="logo" src="../../assets/img/tutor-me.png"> <span class="believe-blue">We Believe...</span></h1></div>
	<div class="body-1 body-boxes">
		<h2>Every student deserves executive-level coaching</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis sed eaque dolorem aspernatur deserunt quidem voluptas</p>
	</div>
	<div class="body-2 body-boxes">
		<h2>Leadership is personalized</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis sed eaque dolorem aspernatur deserunt quidem voluptas</p>
	</div>
	<div class="body-3 body-boxes">
		<h2>In holistic approach</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis sed eaque dolorem aspernatur deserunt quidem voluptas</p>
	</div>
	<div class="body-4 body-boxes">
		<h2>Grades driven as our performance metric</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis sed eaque dolorem aspernatur deserunt quidem voluptas</p>
	</div>
</div>